/* ------------------- GLOBAL ------------------------ */

body {
	font-family: Arial, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 100px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	nav {
		ul {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			padding: 0;
			li {
				color: black;
				text-decoration: none;
				display: inline;
				margin-right: 10px;
			}
		}
	}
}

footer {
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p {
		color: white;
	}
}

/* ------------------- HOME ------------------------ */

.home {
	.banner {
		width: 100%;
		height: 223px;
		border-radius: 15px;
		background-image: url("./assets/backgroundimagebanner.png");
		background-size: cover;
		background-position: right;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.cards-container {
		width: 100%;
		background-color: #f6f6f6;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 10px;
		.cards {
			position: relative;
			background-color: #ff6060;
			height: 467px;
			width: 467px;
			border-radius: 10px;
			img {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				object-fit: cover;
			}
			h2 {
				position: absolute;
				bottom: 0px;
				left: 0px;
			}
		}
	}
}

/* ------------------- ABOUT ------------------------ */

.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

/* ------------------- HOUSING ------------------------ */

.housing {
	.caroussel {
		img {
			width: 100%;
			height: 414px;
			object-fit: cover;
			border-radius: 25px;
		}
	}
	.info-panel {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.left-info-panel {
			.title {
				display: flex;
				flex-direction: column;
				h1 {
					color: #ff6060;
				}
				h2 {
					color: black;
				}
			}
			.tags {
				display: flex;
				flex-direction: row;
				.tag {
					p {
						color: white;
						border-radius: 10px;
						background-color: #ff6060;
						padding: 3px 30px;
					}
				}
			}
		}
		.right-info-panel {
			display: flex;
			flex-direction: column;
			.owner {
				display: flex;
				flex-direction: row;
				.owner-name {
					display: flex;
					flex-direction: column;
					p {
						color: #ff6060;
					}
				}
				.owner-picture {
					img {
						clip-path: circle();
					}
				}
			}
			.rating {
				.fa-star {
					color: #ff6060;
				}
			}
		}
	}
}
