/* ------------------- GLOBAL ------------------------ */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

.container {
	width: 86.11%;
	display: flex;
	flex-direction: column;
	max-width: 1240px;
	min-height: 82vh;
}

.about,
.home,
.housing,
.notfound {
	display: flex;
	align-items: center;
	flex-direction: column;
}

header {
	height: 68px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 45px;
	margin-bottom: 50px;
	.active {
		text-decoration: underline;
	}
	img {
		height: 100%;
		width: auto;
	}
	nav {
		a {
			color: black;
			text-decoration: none;
		}
		ul {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			padding: 0;
			li {
				font-size: 24px;
				color: black;
				text-decoration: none;
				display: inline;
			}
		}
		li:first-child {
			margin-right: 60px;
		}
	}
}

footer {
	margin-top: 50px;
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 29px;
	padding-top: 60px;
	p {
		margin-top: 40px;
		font-size: 24px;
		color: white;
	}
}

.collapsible {
	animation: fadeIn 0.5s ease forwards;
	font-weight: 300;
	font-size: 18px;
	margin: 1rem 0;
	border-radius: 5px;
	.collapsible-toggle {
		font-weight: 600;
		transition: 0.3s ease-out;
		position: relative;
		z-index: 2;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #ff6060;
		color: white;
		padding: 10px 1rem;
		border: none;
		cursor: pointer;
		font-size: 1.2rem;
		width: 100%;
		text-align: left;
		.fas {
			font-size: 32px;
			margin-right: 0.5rem;
			transition: transform 0.3s;
		}
		.rotate {
			transform: rotate(-180deg);
		}
	}
	.open-toggle {
		border-radius: 5px !important;
		transition: 0.3s ease-out;
	}
	.collapsible-content {
		background-color: #fbfbfb;
		color: black;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		padding: 0 20px;
		border-radius: 5px;
		.words-equipments {
			p:first-child {
				margin-top: 20px;
			}
			p:last-child {
				padding-bottom: 20px;
			}
			p {
				margin: 5px 20px 5px 0px;
			}
		}
		p {
			margin-block-start: 0px;
			margin-block-end: 0px;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			unicode-bidi: isolate;
			margin: 20px;
			margin-left: 0px;
			margin-top: 28px;
		}
	}
	.collapsible-content.open {
		transition: 0.3s ease-out;
		border-radius: 5px;
	}
}

/* ------------------- HOME ------------------------ */

.home {
	.banner {
		animation: fadeIn 0.5s ease forwards;
		width: 100%;
		height: 223px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		filter: drop-shadow(0px 3px 2px grey);
		margin-bottom: 43px;
		h1 {
			padding: 0 16px;
			text-decoration: none;
			font-size: 48px;
			font-weight: bold;
			color: white;
			position: absolute;
		}
		img {
			border-radius: 15px;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(40%);
		}
	}
	.cards-background {
		width: 100%;
		background-color: #f6f6f6;
		border-radius: 25px;
		padding: 56px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		.cards-container {
			gap: 60px;
			width: 92%;
			display: flex;
			justify-content: space-evenly;
			flex-direction: row;
			flex-wrap: wrap;
			a {
				.cards {
					overflow: hidden;
					opacity: 0;
					animation: fadeIn 0.5s ease forwards;
					position: relative;
					background-color: #ff6060;
					height: 340px;
					width: 340px;
					border-radius: 10px;
					img {
						display: block;
						width: 100%;
						height: 100%;
						border-radius: 10px;
						object-fit: cover;
						z-index: 0;
						transition: transform 0.3s ease;
					}
					.filter {
						background: linear-gradient(
							180deg,
							rgba(228, 223, 209, 0) 0%,
							rgba(0, 0, 0, 0.6419161414565826) 100%
						);
						width: 100%;
						height: 100%;
						position: absolute;
						bottom: 0px;
						left: 0px;
						border-radius: 10px;
					}
					h2 {
						z-index: 2;
						width: 50%;
						text-decoration: none;
						font-weight: 600;
						font-size: 18px;
						color: white;
						position: absolute;
						bottom: 20px;
						left: 20px;
					}
				}
				.cards:hover img {
					transform: scale(1.1);
				}
			}
		}
		.cards-container :nth-last-child(2) {
			margin-right: auto;
		}
		.cards-container :last-child {
			margin-left: auto;
			margin-right: 35%;
		}
	}
}

/* ------------------- ABOUT ------------------------ */

.about {
	.banner {
		animation: fadeIn 0.5s ease forwards;
		width: 100%;
		height: 223px;
		border-radius: 15px;
		background-image: url("./assets/backgroundimagebannerabout.png");
		background-size: cover;
		background-position: right;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 38px;
		filter: brightness(75%);
	}
	.collapsibles-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.collapsible {
			width: 82.5%;
		}
	}
}

/* ------------------- HOUSING ------------------------ */

.housing {
	.carousel {
		animation: fadeIn 0.5s ease forwards;
		position: relative;
		width: 100%;
		height: 415px;
		overflow: hidden;
		margin-bottom: 30px;
		border-radius: 25px;
		display: flex;
		justify-content: center;
		img {
			width: 100%;
			height: 100%;
			bottom: 0px;
			object-fit: cover;
			border-radius: 25px;
		}
		button {
			background-color: Transparent;
			background-repeat: no-repeat;
			border: none;
			cursor: pointer;
			overflow: hidden;
			outline: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: white;
			font-size: 80px;
			padding: 1rem;
			z-index: 1;
			transition: background-color 0.3s;
		}
		.button_left {
			left: 0;
		}
		.button_right {
			right: 0;
		}
		.carousel_index_indicator {
			height: 95%;
			display: flex;
			align-items: end;
			position: absolute;
			span {
				font-size: 18px;
			}
		}
	}
	.info-panel {
		animation: fadeIn 0.5s ease forwards;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.left-info-panel {
			width: 50%;
			.title {
				display: flex;
				flex-direction: column;
				h1 {
					font-size: 36px;
					color: #ff6060;
					font-weight: 400;
				}
				h2 {
					color: black;
					font-size: 18px;
					font-weight: 500;
				}
			}
			.tags {
				display: flex;
				flex-direction: row;
				.tag {
					margin-top: 25px;
					white-space: nowrap;
					p {
						font-size: 14px;
						font-weight: bold;
						color: white;
						border-radius: 10px;
						background-color: #ff6060;
						padding: 3px 30px;
					}
				}
				.tag:not(:last-of-type) {
					margin-right: 10px;
				}
			}
		}
		.right-info-panel {
			display: flex;
			flex-direction: column;
			.owner {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: end;
				margin-bottom: 25px;
				.owner-name {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					text-align: end;
					margin-right: 10px;
					p {
						font-size: 18px;
						color: #ff6060;
					}
					p:first-child {
						margin-bottom: 16 px;
					}
				}
				.owner-picture {
					display: flex;
					img {
						height: 64px;
						clip-path: circle();
					}
				}
			}
			.rating {
				display: flex;
				flex-direction: row;
				.fa-star {
					margin-left: 15px;
					font-size: 24px;
					color: #ff6060;
				}
				.void {
					color: #e3e3e3 !important;
				}
			}
		}
	}
	.collapsibles-container {
		margin-top: 25px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.collapsible {
			width: 47%;
		}
	}
}

/* ------------------- ERROR ------------------------ */
.notfound {
	.error {
		display: flex;
		align-items: center;
		justify-content: center;
		.error-message {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h1 {
				margin-top: 90px;
				color: #ff6060;
				font-size: 288px;
				font-weight: bold;
			}
			h2 {
				font-weight: 500;
				text-align: center;
				margin-top: 150px;
				color: #ff6060;
				font-size: 36px;
				margin-bottom: 140px;
			}
			span {
				margin-top: 140px;
				font-size: 18px;
				text-decoration: underline;
			}
			a {
				margin-bottom: 90px;
				color: black;
			}
		}
	}
}

/* ------------------- ANIMATION ------------------------ */

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* --------------------- RESPONSIVTY ------------------------ */
@media only screen and (max-width: 1439px) {
	.home {
		.cards-background {
			.cards-container :nth-last-child(2) {
				margin-right: 0px;
			}
			.cards-container :last-child {
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media only screen and (max-width: 1024px) {
	.container {
		width: 89.33%;
	}
	.housing {
		.info-panel {
			flex-direction: column;
			.right-info-panel {
				flex-direction: row-reverse;
				justify-content: space-between;
				align-items: center;
				.owner {
					justify-content: normal;
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 0px;
					margin-top: 16px;
					margin-bottom: 13px;
				}
			}
			.left-info-panel {
				width: 100%;
				.title {
					h1 {
						width: 75%;
					}
				}
				.tags {
					flex-wrap: wrap;
					.tag {
						p {
							border-radius: 5px;
						}
					}
				}
			}
		}
		.collapsibles-container {
			flex-direction: column;
			width: 100%;
			margin-top: 0px;
			.collapsible {
				width: 100%;
			}
		}
	}

	.about {
		.collapsibles-container {
			.collapsible {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 905px) {
	.home {
		.cards-background {
			padding-top: 0px;
			padding-bottom: 27px;
			background-color: white;
			.cards-container {
				width: 100%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 20px;
				a {
					width: 100%;
					.cards {
						width: 100%;
					}
				}
			}
		}
	}
}

/* Styles pour les écrans de petite taille (smartphones) */
@media only screen and (max-width: 600px) {
	.container {
		width: 89.33%;
	}

	.fa-2x {
		font-size: 26px;
	}

	header {
		margin-bottom: 26px;
		height: 47px;
		img {
			height: 100%;
			width: 145px;
		}
		nav {
			li:first-child {
				margin-right: 26px;
			}
			ul {
				li {
					font-size: 12px;
				}
			}
		}
	}

	footer {
		margin-top: 0px;
		padding-bottom: 60px;
		p {
			font-size: 14px;
		}
	}
	.home {
		.banner {
			margin-top: 0px;
			margin-bottom: 22px;
			filter: none;
			height: 111px;
			justify-content: flex-start;
			h1 {
				width: 70%;
				font-size: 24px;
			}
		}
		.cards-background {
			.cards-container {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 20px;
				a {
					width: 100%;
					.cards {
						width: 100%;
						height: 255px;
					}
				}
			}
		}
	}

	.housing {
		.carousel {
			height: 255px;
			margin-bottom: 15px;
			button {
				font-size: 24px;
			}
			.carousel_index_indicator {
				display: none;
			}
		}
		.info-panel {
			flex-direction: column;
			.right-info-panel {
				flex-direction: row-reverse;
				justify-content: space-between;
				align-items: center;
				.owner {
					justify-content: normal;
					.owner-name {
						p {
							font-size: 12px;
						}
					}
					.owner-picture {
						img {
							height: 32px;
						}
					}
				}
				.rating {
					.fa-star {
						margin-left: 7px;
						font-size: 14px;
					}
				}
			}
			.left-info-panel {
				width: 100%;
				.title {
					h1 {
						font-size: 18px;
					}
					h2 {
						font-size: 14px;
					}
				}
				.tags {
					flex-wrap: wrap;
					.tag {
						margin-top: 10px;

						p {
							border-radius: 5px;
							padding: 3px 20px;
							font-size: 10px;
						}
					}
				}
			}
		}
		footer {
			margin-top: 30px;
		}
	}

	.notfound {
		.error {
			.error-message {
				h1 {
					margin-top: 90px;
					font-size: 96px;
				}
				h2 {
					font-weight: 500;
					font-size: 18px;
				}
				span {
					font-size: 14px;
				}
				a {
					margin-bottom: 90px;
					color: black;
				}
			}
		}
	}

	.about {
		.banner {
			height: 111px;
			margin-bottom: 0px;
		}
		.collapsibles-container .collapsible:last-child {
			margin-bottom: 30px;
		}
	}

	.collapsibles-container {
		margin-top: 0px;
		.collapsible {
			margin-top: 20px;
			margin-bottom: 0px;
			.collapsible-toggle {
				font-size: 13px;
				padding: 7px 1rem;
				i {
					font-size: 10px;
				}
			}
			.collapsible-content {
				p {
					font-size: 13px;
				}
				.words-equipments {
					font-size: 13px;
					p:first-child {
						margin-top: 20px;
					}
					p:last-child {
						padding-bottom: 15px;
					}
					p {
						font-size: 13px;
						margin: 5px 20px 5px 0px;
					}
				}
			}
		}
	}
}
